@model IEnumerable<pidevPMT.domain.Entities.categorymeeting>
@{

    Layout = "~/Views/Shared/_MyTemplate.cshtml";
}
@section featured
{
    <section class="featured">
        @{
            ViewBag.Title = "";
        }

        <h2>Search</h2>

        <p>


            @using (Html.BeginForm())
            {
            <p>
               Email of the user: @Html.TextBox("SearchStringUser")
               

                <input type="submit" value="Filter" />
            </p>
            }

            <table class="table table-striped table-bordered table-hover">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                   
                </tr>
                @foreach (var item in Model)
    {
                    <tr>
                       
                        <th>

                            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                        </th>


                    </tr>
                }

            </table>







        </section>
}


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

